body {
  width: 100vw;
}

.demo {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.components {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn {
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .25px;
  line-height: 1.5;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: .2s ease-in-out;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  text-shadow: 0 1px 3px rgba(36, 180, 126, .3);
}

.btn-alert {
  color: white;
  background-color: #e55c53;
}
